{
  "extends": [
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "consistent-return": 0,
    "operator-linebreak": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-shadow": 0
  }
}
